{% block zicht_content_item_type_widget %}
    {% if type %}
        <input type="hidden" name="{{ name }}" value="{{ value }}">
        {% if edit_url %}
            <a class="btn" href="{{ edit_url }}"> {{ ('content_item.type.' ~ (type|replace({' ': '_'})|lower))|trans({}, 'admin') }}&nbsp; <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;</a>
        {% else %}
            {{ ('content_item.type.' ~ (type|replace({' ': '_'})|lower))|trans({}, 'admin') }}
        {% endif %}
    {% else %}
        {{ form_widget(form.convertToType) }}
    {% endif %}
{% endblock %}

{% block zicht_content_item_region_widget %}
    {{ form_widget(form.region) }}

    {% if matrix %}
        <script type="text/javascript">
            window.attachMatrixHandler = window.attachMatrixHandler || function(matrix, field) {
                var regionSelect = $(field),
                    regionBlockSelect = regionSelect.parent().next().find('select');

                function updateValues(region) {
                    var values = matrix[region];
                    regionBlockSelect.empty();
                    for (var value in values) {
                        regionBlockSelect.append(
                            $('<option />').val(value).text(values[value])
                        );
                    }
                }

                if (regionSelect && regionBlockSelect) {
                    regionSelect.change(function () {
                        updateValues($(this).val());
                    });
                }
                regionSelect.selectedIndex = 0;
                updateValues(regionSelect.val());
            };
            attachMatrixHandler({{ matrix | raw }}, 'select[id={{ id }}_region]');
        </script>
    {% endif %}
{% endblock %}
